body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.main > section {
  margin: 40px auto;
  text-align: center;
}

.main > section > h1 {
  margin: 20px 0 10px;
  font-weight: lighter;
}

.my-pentagon-1 {
  transition: all 0.5s ease;
}

.my-pentagon-1 polygon {
  fill: #359E2F;
  transition: all 0.5s ease;
  animation: color-change 3s infinite;
  -webkit-animation: color-change 3s infinite;
}

.my-pentagon-1:hover {
  transform: rotate(360deg) scale(0.5);
  
}

.my-pentagon-1:hover polygon {
  animation: color-change 0.5s infinite;
  -webkit-animation: color-change 0.5s infinite;
}

@-webkit-keyframes color-change {
    0%    {fill: #359E2F;}
    50%   {fill: #29C2BF;}
    100%  {fill: #359E2F;}
}

@keyframes color-change {
    0%    {fill: #359E2F;}
    50%   {fill: #29C2BF;}
    100%  {fill: #359E2F;}
}
